[submodule "Ublox_Linux_Library"]
	path = Ublox_Linux_Library
	url = https://github.com/balamuruganky/Ublox_Linux_Library
[submodule "ekf_nav_ins"]
	path = ekf_nav_ins
	url = https://github.com/balamuruganky/ekf_nav_ins
